[includeIf "gitdir:/"]
    path = ~/repos/dustinws/dots/git/common.toml

[includeIf "gitdir:~/repos/dustinws/"]
    path = ~/repos/dustinws/dots/git/dustinws.toml

[includeIf "gitdir:~/repos/cfacorp/"]
    path = ~/repos/dustinws/dots/git/cfacorp.toml

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@4vif5i.gitea.cloud/:"]
    insteadOf = https://4vif5i.gitea.cloud/
